<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate" />
    <script src="/static/app.js"></script>
</head>
<body>
<h1>Schedule</h1>
{% for daynum, dayname in days_of_week %}

    {% if days[daynum]['appts'] %}
        <h3 id="day{{ daynum }}">{{ dayname }} [{{days[daynum]['start']}} - {{days[daynum]['end']}}]</h3>

        {% for appt in days[daynum]['appts'] %}
            <p>
                {{ appt['time'] }}<br>
                {{ appt['who'] }}{% if appt['what'] %}<br>
                    {{ appt['what'] }}{% endif %}
            </p>
        {% endfor %}
    {% endif %}
{% endfor %}
<br>
<br>
<br>
<br>
</body>
</html>
